.TS_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.TS_wrapper h1{
 font-size: 100px;
 font-weight: 500;
 line-height: 100px;
}
.TS_wrapper p{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
